.one{
    height: 842px;
    overflow: hidden;
    position: relative;
 background-color: #F1ECE8;
}

.header-text{
    background-color: #F1ECE8;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);

}

.header-text-content{
    text-align: center;
    position: absolute;
    
    font-size: 96px;
    line-height: 85px;

    font-weight: 500;
    background-color: transparent; 
    z-index: 2;
}

.header-text-content-font{
    font-size: 80px;
    font-family: Archivo;
    font-style: italic;
    background-color: transparent;
}

.digital-visions{
    display: flex;
    align-items: left;
    justify-content: left;
    /* height: 935px; */

    background-color: #292929;
    color: white;
}

.digital-visions-heading{
    width: 100%;
    font-size: 96px;
    line-height: 85px;
    color: #F1ECE8;
    font-weight: 500;
    background-color: transparent;
    margin-left: 60px;
    margin-top: 80px;
}   
.digital-visions-text{
    font-family: Archivo;
    color: #F1ECE8;
    background-color: transparent;
    font-size: 36px;
    justify-content: right;
    width: 70%;
    margin-top: 600px;
    font-weight: 100;
    margin-bottom: 50px;
    margin-right: 70px;
}

.digital-visions-heading_subtext{
    font-family: Archivo;
    color: #F1ECE8;
    font-style: italic;
    background-color: transparent;
    font-size: 80px;
}

.digital-visions_subtext{
    font-family: Archivo;
    color: #EF8B44;
    font-style: italic;
    background-color: transparent;
    font-size: 80px;
}